@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h3 {
  text-align: center;
}
